body{
    background-image: url('../images/Background.png');
    overflow: hidden;
    width: 100%;
    height: 99.7vh;
}

.d0 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flop {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.comprar {
    display: flex;
    font-size: 150%;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.d1 {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.d2 {
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.nada {
    width: 20%;
    height: 100%;
}
.d21 {
    height: 100%;
    width: 60%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 45% 45%;
    column-gap: 5%;
    row-gap: 5%;
    overflow-x: scroll;
    overflow-y: scroll;
    overflow: auto;
}
.seta_direita {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.img_seta {
    height: 100%;
    width: 40%;
}
.img_seta:hover {
    mouse: pointer; 
    animation: gira 1s alternate infinite;
}
#seta {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#seta:hover {
    
}

@keyframes gira {
    0% {width: 50%;}
    100%{width: 60%;}
}
.itemshowcase {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 36, 36, 0.4);
    border: 3px solid white;
}
.itemshowcase:hover {
    height: 105%;
    width: 105%;
    border-color: yellow;
    cursor: pointer;
}
.disqueteshowcase {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.legendashowcase {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.legendap {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: yellow;
}
u {
    color: yellow;
}
.d3 {
    height: 10%;
    width: 100%;
    display: flex;  
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.titulo {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
 .wf {
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.d3 
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: relative;
    text-align: center;
}
.texto_menu
{
    color: yellow;
    font-size: 130%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.footer 
{
    display: flex;
    width: 100%;
    display: inline-block;
    font-size: 2vw;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}
span 
{
    padding-left: 5%;
}

.branco
{
    color: white;
    background-color: white;    
    font-size: 1px;
    line-height: 300%;
}
.menu_branco
{
    color: white;
}
.menu_amarelo
{
    color: yellow;
}
.voltar
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    border-color: transparent;
}
.voltar :hover
{
    cursor: pointer;
}


rect {
    width: 200px;
    height: 10px;
    background: white;
}

@media screen and (max-width:450px) {
    .d1 {
        height: 8%;
    }
    .d2 {
        height: 80%;
        flex-direction: column;
    }
    .d21 {
        height: 50%;
        width: 70%;
    }
    .d22 {
        height: 50%;
        width: 70%;
    }
    .neymar {
        width: 80%;
        height: 80%;
    }
    .footer {
        display: flex;
        width: 100%;
        display: inline-block;
        font-size: 2.8vw;
        z-index: 1;
    }
    span {
        padding-left: 7.4%;
    }
}

@media screen and (min-width:450px) and (max-width:900px){
    .d1 {
        height: 10%;
    }
    .d2 {
        height: 78%;
        flex-direction: column;
    }
    .d21 {
        height: 50%;
        width: 70%;
    }
    .d22 {
        height: 50%;
        width: 70%;
    }
    .neymar {
        width: 50%;
        height: 80%;
    }
}