body{
    background-image: url('../images/Background.png');
    overflow: hidden;
    width: 100%;
    height: 99.7vh;
}

.d0 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flop {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.comprar {
    display: flex;
    font-size: 150%;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.d1 {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.d2 {
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.nada {
    width: 20%;
    height: 100%;
}
.d21 {
    height: 100%;
    width: 60%;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 45% 45%;
    column-gap: 5%;
    row-gap: 5%;
}
.seta_direita {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#seta {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    animation: gira 1s alternate infinite;

}
#seta:hover {
    mouse: pointer; 
}

@keyframes gira {
    0% {rotate: 3deg;}
    100%{rotate: -3deg;}
}
.itemshowcase {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
}
.disqueteshowcase {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.legendashowcase {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.legendap {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: yellow;
}
u {
    color: yellow;
}
.d3 {
    height: 10%;
    width: 100%;
    display: flex;  
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.titulo {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
 .wf {
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    justify-items: center;

}

.footer {
    display: flex;
    width: 100%;
    display: inline-block;
    font-size: 2vw;
    z-index: 1;
}

span {
    padding-left: 9.8%;
}

.branco{
    color: white;
    background-color: white;    
    font-size: 1px;
    line-height: 300%;
}

.hentai {
    position: absolute;
    display: flex;
    animation: hentai 2s infinite alternate;
    width: 6%;
    z-index: 2;
}

@keyframes hentai {
    0% {rotate: 3deg;}
    100% {rotate: -3deg;}
}

.hentai2 {
    position: absolute;
    display: flex;
    animation: hentai2 2s infinite alternate;
    width: 6%;
    z-index: 2;
}

@keyframes hentai2 {
    0% {rotate: 3deg;}
    100% {rotate: -3deg;}
}

#comprar {
    color: yellow;
}

#login {
    color: yellow;
}

#menupadrao {
    color: white;
}

rect {
    width: 200px;
    height: 10px;
    background: white;
}

@media screen and (max-width:450px) {
    .d1 {
        height: 8%;
    }
    .d2 {
        height: 80%;
        flex-direction: column;
    }
    .d21 {
        height: 50%;
        width: 70%;
    }
    .d22 {
        height: 50%;
        width: 70%;
    }
    .neymar {
        width: 80%;
        height: 80%;
    }
    .footer {
        display: flex;
        width: 100%;
        display: inline-block;
        font-size: 2.8vw;
        z-index: 1;
    }
    span {
        padding-left: 7.4%;
    }
}

@media screen and (min-width:450px) and (max-width:900px){
    .d1 {
        height: 10%;
    }
    .d2 {
        height: 78%;
        flex-direction: column;
    }
    .d21 {
        height: 50%;
        width: 70%;
    }
    .d22 {
        height: 50%;
        width: 70%;
    }
    .neymar {
        width: 50%;
        height: 80%;
    }
}