body{
    background-image: url('../images/Background.png');
    overflow: hidden;
    width: 100%;
    height: 99.7vh;
}

.d0 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.d1 {
    height: 10%;
    width: 100%;
    display: flex;

    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.tits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
}
.comprar {
    display: flex;
    font-size: 150%;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.d2 {
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}
.d21 {
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.disc_titulo {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.disc_baixo {
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: row;
}
.disc_img {
    width: 35%;
    height: 90%;

    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.disc_info {
    width: 55%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
select {
    font-size: 70%;
    font-family: 'Times New Roman', Times, serif;
}
.discs_nome {
    width: 100%;    
    height: 30%;

    font-family: 'Times New Roman', Times, serif;
    font-size: 210%;
    color: white;
}
.discs_capa {
    width: 100%;
    height: 10%;

    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    font-size: 200%;
}

.disc_price {
    width: 100%;
    height: 15%;

    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.disc_carrinhocompra {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.disc_comprar{
    width: 30%;
    height: 80%;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    border-width: 6px;
    border-color: yellow;

}

.disc_comprar:hover {
    cursor: pointer;
    background-color: orange;
    border-color: orange;
}

.disc_carrinho{
    width: 65%;
    height: 80%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    border-width: 6px;
    border-color: yellow;

}

.disc_carrinho:hover {
    cursor: pointer;
    background-color: orange;
    border-color: orange;
}

.titulo {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
 .wf {
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.d3 
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: relative;
    text-align: center;
}
.texto_menu
{
    color: yellow;
    font-size: 130%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.footer 
{
    display: flex;
    width: 100%;
    display: inline-block;
    font-size: 2vw;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}
span 
{
    padding-left: 5%;
}

.branco
{
    color: white;
    background-color: white;    
    font-size: 1px;
    line-height: 300%;
}
.menu_branco
{
    color: white;
}
.menu_amarelo
{
    color: yellow;
}
.voltar
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    border-color: transparent;
}
.voltar :hover
{
    cursor: pointer;
}


rect {
    width: 200px;
    height: 10px;
    background: white;
}
@media screen and (max-width:450px) {
    .d1 {
        height: 8%;
    }
    .d2 {
        height: 80%;
        flex-direction: column;
    }
    .d21 {
        height: 50%;
        width: 70%;
    }
    .d22 {
        height: 50%;
        width: 70%;
    }
    .neymar {
        width: 80%;
        height: 80%;
    }
    .footer {
        display: flex;
        width: 100%;
        display: inline-block;
        font-size: 2.8vw;
        z-index: 1;
    }
    span {
        padding-left: 7.4%;
    }
}

@media screen and (min-width:450px) and (max-width:900px){
    .d1 {
        height: 10%;
    }
    .d2 {
        height: 78%;
        flex-direction: column;
    }
    .d21 {
        height: 50%;
        width: 70%;
    }
    .d22 {
        height: 50%;
        width: 70%;
    }
    .neymar {
        width: 50%;
        height: 80%;
    }
}