/*fundo*/
body
{
    background-image: url('../images/Background3.png');
    overflow: hidden;
    width: 100%;
    height: 99.7vh;
}
.d0 
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*cabeçalho da página*/
.d1 
{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.mundo 
{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.tits {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.titulo 
{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
 .wf 
 {
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
/*corpo da página*/
.d2 {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}
.d222
{
    width: 25%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: relative;
}
.floppy_disk
{
    animation: intro 1s linear;
    width: 70%;
    position: absolute;
}
@keyframes intro 
{
    0% {width: 1060%;}
    100% {width: 70%;}
}
.d21 {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.neymar 
{
    width: 80%;
}
.d22 
{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.od
{
    height: 80%;
    width: 80%;

}
.into 
{
    display: flex;
    color: white;
    text-align: center;
    margin: 4.5%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.d3 
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: relative;
    text-align: center;
}
.texto_menu
{
    color: yellow;
    font-size: 130%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.footer 
{
    display: flex;
    width: 100%;
    display: inline-block;
    font-size: 2vw;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}
span 
{
    padding-left: 5%;
}

.branco
{
    color: white;
    background-color: white;    
    font-size: 1px;
    line-height: 300%;
}
.menu_branco
{
    color: white;
}
.menu_amarelo
{
    color: yellow;
}
.voltar
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    border-color: transparent;
}
.voltar :hover
{
    cursor: pointer;
}
