body{
    padding: 0%;
    background-image: url('../images/Background3.png');
    overflow: hidden;
    width: 100%;
    height: 99.7vh;
}

.d0 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.d1 {
    height: 10%;
    width: 100%;
    display: flex;

    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.flop {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.criar_conta {
    display: flex;
    font-size: 150%;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.titulo {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
 .wf {
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
    justify-items: center;

}
.d2 {
    padding: 0%;
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: row;
 
}
.d222 {
    margin: 0%;
    width: 30%;
    height: 80vh;
    text-align: center;
}
.cimabaixo
{
    width: 100%;
    height: 900%;
    display: flex;
    flex-direction: column;


}
.cima
{
    margin: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.nome_adm
{
    color: white;
    margin: 5%;
    font-size:x-large;
}
.foto_adm
{
    width: 40%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}
.hr1
{
    width: 80%;
    border-style: solid;
    color: white;
}
.cima2
{
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0%;
    margin-top: 0%;
}
.sair_alterar
{
    color: yellow;
    font-size: 200%;
}
.hr2
{
    border-style: solid;
    border-color: white;
}
.adicionar
{
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    border-width: 6px;
    border-color: yellow;
    width: 80%;
    font-size: 130%;
    height: 10%;
    margin: 10%;
}
.adicionar:hover
{
    background-color: orange;
    border-color: orange;
}
.d21 {
    height: 80vh;
    width: 69%;
    margin-right: 1%;
    overflow-y: scroll;

}
.produto
{
    width: 90%;
    height: 8rem;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 1%;
}
.img_titulo
{
    width: 100%;
    height: 100%;
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.picture
{
    height: 9.7rem;
    width: 9.7rem;
    min-width: 9.7rem;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    background-color: black;
    display: block;

}
.dados
{
    width: 90%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.picture_edit
{
    display: none;
}
.botoes_produto
{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
}
.titulo_produto
{
    width: 100%;
    min-height: 4rem;
    display: flex;
    flex-direction: row;
    background-color: blue;
    margin: 0%;
    font-size: xx-large;
}
.button_produto
{
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    border-width: 6px;
    border-color: yellow;
    width: 30%;
    font-size: x-large;
    height: 100%;
    margin-right: 5%;
    margin-left: 2%;
}
.button_produto:hover
{
    background-color: orange;
    border-color: orange;
}
.txt_button_produto
{
    background-color: transparent;
    border: none;
    font-size: x-large;
    color: yellow;
    margin-right: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-decoration: underline;
    display: block;
}
.txt_button_produto:hover
{
    color: orange;
}
.txt_button_produto:active
{
    color: yellow;
}

.botao_removerperfil:hover
{
    background-color: orange;
    border-color: orange;
}
.hr3
{
    width: 90%;
    border-style: solid;
    color: white;
    margin-top: 0%;
}
/*menu*/
.d3 {
    height: 10%;
    width: 100%;
    display: flex;

    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.texto_menu
{
    color: yellow;
    font-size: 130%;
    font-family: 'Times New Roman', Times, serif;

}
.footer 
{
    display: flex;
    width: 100%;
    display: inline-block;
    font-size: 2vw;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}

span {
    padding-left: 5%;
}

.branco{
    color: white;
    background-color: white;    
    font-size: 1px;
    line-height: 300%;
}

rect {
    width: 200px;
    height: 10px;
    background: white;
}
.menu_branco
{
    color: white;
}
.menu_amarelo
{
    color: yellow;
}
.voltar
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}